// src/components/Message.module.scss
.message {
    display: flex;
    align-items: flex-start;
  
    &.user {
      justify-content: flex-end;
    }
  
    &.bot {
      justify-content: flex-start;
    }
  
    .message-bubble {
      max-width: 70%;
      padding: 12px;
      border-radius: 10px;
      font-size: 1rem;
      line-height: 1.4;
  
      &.user {
        background-color: #10a37f;
        color: #eaeaea;
        border-bottom-right-radius: 0;
      }
  
      &.bot {
        background-color: #444654;
        color: #eaeaea;
        border-bottom-left-radius: 0;
      }
    }
  }
  